@mixin stepcounter {
    counter-increment: stepnumber;
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $clr-primary;
        content: counter(stepnumber);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-left: -12px;
        font-weight: 400;
        font-size: 14px;
}
}

@mixin desktop-only {
    @media screen and (min-width: 700px){
        @content;
    }
}

@mixin bubbles($direction: spinner, $delay: 0ms) {
    @for $i from 1 through 12 {
    
        &:nth-child(#{$i}) {
                
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                animation: $direction 1000ms linear forwards;
                animation-delay: calc(50ms * $i + $delay);
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left:0;
                    transform: scale(0);
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    opacity: 0.6;
                    animation: blow-up 1000ms ease-in-out;
                    animation-delay: calc(50ms * $i + $delay);
                    // @if ( $i == 1 ) or ( $i == 4 ) or ( $i == 7 ) or ( $i == 10 )  {
                    //     background-color: $clr-primary;
                    // } @else {
                    //     background-color: #ff79da;
                    // };
                    // @if ( $i == 2 ) or ( $i == 5 ) or ( $i == 8 ) or ( $i == 11 ){
                    //     background-color: $clr-secondary;
                    // } @else {
                    //     background-color: #ff79da;
                    // };
                    @if ( $i == 3 ) or ( $i == 6 ) or ( $i == 9 ) or ( $i == 12 ) {
                        background-color: $clr-primary;
                    } @else {
                        @if ( $i == 2 ) or ( $i == 5 ) or ( $i == 8 ) or ( $i == 11 ){
                            background-color: $clr-secondary;
                        } @else {
                            background-color: $clr-tertiary;
                        };
                    };
                    
                    }
                 }
    }
    }