$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;
$clr-background-card: white;
$clr-background-menu: rgb(246, 246, 246);
$clr-background-btn: linear-gradient($clr-secondary, $clr-primary);

$card-radius: 14px 14px 14px 14px;
$card-shadow: 4px 6px 13px -6px lightgray;

